<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <title>Compose your new email</title>
    <script type="text/javascript">
      $('#formid').on("keyup keypress", function(e) {
      var code = e.keyCode || e.which;
      if (code  == 13) {
      e.preventDefault();
      return false;
      }
      });
    </script>
</head>

<body>
[<a href="/"><b>Back To Home</b></a>]

<h1>Compose your new email</h1>
<hr>
<form id="compose" method=post action="/compose" onsubmit="onSubmit()">
  From (Your Email Address):<br><input type="text" name="from" style="width: 200px;"
                                       placeholder= {{ sender_email }} value="{{ sender_email}}"></input><br>
  Author (Your Name):<br><input type="text" name="sender" style="width: 200px;"
                                placeholder="Email Service" value="{{email_context.sender}}"></input><br>
  To (Email Address):<br><input type="text" name="recipient" style="width: 200px;" required value="{{ email_context.recipient }}"></input><br>
  Subject:<br><input type="text" name="subject" style="width: 200px;" required value="{{ email_context.subject }}"></input><br>
  Text:<br><input type="text" name="text" autocomplete="off" value="{{ email_context.text }}" style="width: 300px; height:250px; padding: 10 10 250px 0;"></input><br>
  <br>
  <div style="text-align: center">
    <input type="submit" id="send_btn" class="action-button shadow animate red"
           name="action" value="send"
           style="margin-right: 30px"></input>
    <div class="divider"/>
    <input type="submit" id="save_btn" class="action-button shadow animate blue"
           name="action" value="save"></input>
  </div>
</form>

<script>
  function onSubmit() {
  $(".action-button").hide();
  return true;
  }
</script>
<address></address>
</body> </html>
