<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <title>Your Draft Messages</title>
</head>

<body>
[<a href="/"><b>Back</b></a>]

<h1>View Your Draft Messages</h1>
<hr>
<form action="/compose" method="get">
 <table border="1" style="width:60%">
   <thead>
      <tr>
        <td>Subject</td>
        <td>Text</td>
        <td>Recipient</td>
        <td>Time</td>
        <td></td>
      </tr>
   </thead>
        {% for email in emails %}
        <tr>
          <td>{{ email.subject|escape }}</td>
          <td>{{ email.text|escape }}</td>
          {% if email.recipient %}
            <td><code>{{ email.recipient }}</code></td>
          {% else %}
            <td><i>anonymous</i></td>
          {% endif %}
          <td><small>[<i>{{ email.date.ctime }}</i>]</small></td>
          <td>
            <input type="radio"  name="check_list" value= {{ email.msg_id }} />
          </td>
      </tr>
      {% endfor %}
    </table>
<input type="submit" name="edit_message" value="edit message" class="action-button shadow animate green">
</form>
<address></address>
</body> </html>
