<!DOCTYPE html>
<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
    <script src="/js/jquery.js"></script>
    <script type="text/javascript">
    </script>
  </head>
  <body>
    <div id="header">
      Hello, {% if user %}
      {{ user.nickname }}!
      [<a href="{{ logout }}"><b>sign out</b></a>]
      {% else %}
      World!
      [<a href="{{ login }}"><b>sign in</b></a>]
      {% endif %}
    </div>
    <div id="main-wrap">
      <div id="sidebar">
        <form action="/compose"  method=get>
          <input type=submit value="Compose" class="action-button shadow animate blue">
        </form>
        <br><br>
        <form action="/outbox"  method=get>
          <input type="hidden" name="target" value="all">
          <input type=submit value="Outbox" class="action-button shadow animate yellow">
        </form>
        <br><br>
        <form action="/outbox"  method=get>
          <input type="hidden" name="target" value="unsent">
          <input type=submit value="Drafts" class="action-button shadow animate red">
        </form>
      </div>
      <div id="content-wrap">
        <form action="/outbox"  method=get>
          <input type="hidden" name="target" value="all">
          <input type="text" name=keyword size=65
                            style="height:30px;font-size:14pt;">
          <br>
          <input type=submit value="Search Subject"
                 class="action-button shadow animate green">
        </form>
        <br><br>
        {% if email_count > 0 %}
        <table border="1" style="width:60%">
        <caption>Your Top {{email_count}} Most Recent Message(s)</caption>
          <thead>
            <tr>
              <th>Subject</th>
              <th>Text</th>
              <th>Recipient</th>
              <th>Time</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>

          {% for email in emails %}
          <tr>
            <td>{{ email.subject|escape }}</td>
            <td>{{ email.text|escape }}</td>
            {% if email.recipient %}
            <td><code>{{ email.recipient }}</code></td>
            {% else %}
            <td><i>anonymous</i></td>
            {% endif %}
            <td><small>[<i><script type="text/javascript">localize('{{email.date.ctime}}');</script></i>]</small></td>
            {% if email.status %}
            <td><i>sent</i></td>
            {% else %}
            <td><i>unsent</i></td>
            {% endif %}
          </tr>
          {% endfor %}
          </tbody>
        </table>
        {% endif %}
      </div>
    </div>
  </body>
</html>
