<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
    <link type="text/css" rel="stylesheet" href="/static/style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css"></script>
    <title>Your Sent Messages</title>
</head>

<body>
<h1>>Your Sent Messages</h1>

<hr>
 <table border="1" style="width:60%">
   <thead>
      <tr>
        <td>Subject</td>
        <td>Text</td>
        <td>Recipient</td>
        <td>Time</td>
      </tr>
   </thead>
   {% for email in emails %}
   <tr>
     <td>{{ email.subject|escape }}</td>
     <td>{{ email.text|escape }}</td>
     {% if email.recipient %}
     <td><code>{{ email.recipient }}</code></td>
     {% else %}
     <td><i>anonymous</i></td>
     {% endif %}
     <td><small>[<i>{{ email.date.ctime }}</i>]</small></td>
   </tr>
   {% endfor %}
 </table>
 <address></address>
</body> </html>
